@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: rofane;
  src: url("./assets/fonts/rofane.ttf");
}

@font-face {
  font-family: nexa;
  src: url("./assets/fonts/nexa.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rofane;
}
p,
span,
li,
a {
  font-family: nexa;
}
.select-container::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: solid black;
  border-width: 0 2px 2px 0;
  padding: 3px;
  pointer-events: none; /* Ensures the arrow doesn't interfere with clicking on the select */
}

.stats {
  background: url("/public/dining-room-in-a-coffee-shop-2023-11-27-05-05-18-utc\ 1.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
}

.react-multi-carousel-dot--active button {
  background: #ffc50a !important;
}
.react-multi-carousel-dot button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
  padding: 5px 5px 5px 5px;
  box-shadow: none;
  transition: background 0.5s;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  outline: 0;
  cursor: pointer;
}

.poster {
  background: url("/public/3d-illustration-mockup-photo-frame-in-living-room-2023-11-27-05-18-18-utc\ 1.png");
  background-color: #000000c9;
  background-blend-mode: overlay;
  background-size: cover;
  background-attachment: fixed;
}

.carousel .control-dots {
  position: absolute !important;
  bottom: 300 !important;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.herobg {
  background: url("/public/minimalist-interior-design 1.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
}
.bookConsultbg {
  background: url("/public/minimalist-interior-design 1.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
}

.custom-container {
  width: 88%;
  margin: auto;
}

.bg-service {
  height: 160vh;
  background: url("/public/servicebg.jpeg");
  background-size: 100% 100%;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
}

@media only screen and (max-width: 575px) {
  .custom-container {
    width: 96% !important;
    margin: auto;
  }

  .bg-service {
    height: 100%;
    padding: 5% 0% !important;
    background: url("/public/servicebg.jpeg");
    background-size: 100% 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: overlay;
  }
  .projectBg {
    background: url("/public/projectbg.jpg");
    background-size: cover;
    background-color: #00000080;
    background-blend-mode: overlay;
    background-position: 0px 0px !important;
  }
}

.interiorBg {
  background: url("/public/servicebg.jpeg");
  background-size: cover;
  background-color: #00000080;
  background-blend-mode: overlay;
}

.consult-bg {
  background: url("/public/consultbg.jpeg");
  background-color: #00000080;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 0px -600px;
}

.projectBg {
  background: url("/public/projectbg.jpg");
  background-size: cover;
  background-color: #00000080;
  background-blend-mode: overlay;
  background-position: 0px -200px;
}

.project_info_bg {
  background: url("/public/projectbg.jpg");
  background-size: cover;
  background-color: #00000080;
  background-blend-mode: overlay;
  background-position: 0px 0px;
}

.startProject-bg {
  background: url("/public/startProjectBg.jpg");
  background-color: #00000080;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 0px -600px;
}

.teambg {
  background: url("/public/teambg.jpg");
  background-color: #00000080;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 0px -200px;
}
.singleProductBg {
  background: url("/public/startProjectBg.jpg");
  background-color: #00000080;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 0px -200px;
}

.loginBg {
  background: url("/public/The Simple Serenity of Soft Minimalism 1.png");
  background-color: #ffffff80;
  background-size: cover;
  background-blend-mode: overlay;
}

.signupbg {
  background: url("/public/signupbg.jpg");
  background-color: #ffffff95;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: 0px -400px;
}

.shopBg {
  background: url("/public/dining-room-in-a-coffee-shop-2023-11-27-05-05-18-utc\ 1.png");
  background-color: #ffffff95;
  background-size: cover;
  background-blend-mode: overlay;
}
